@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); 


body{
  font-family: "Inter", sans-serif;
}

.section-container{
  @apply max-w-screen-2xl container mx-auto;
}

header{
  z-index: 10001 !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



/* CSS HEX */
/* --oxford-blue: #00072dff;
--penn-blue: #001c55ff;
--royal-blue-traditional: #0a2472ff;
--bice-blue: #0e6ba8ff;
--non-photo-blue: #a6e1faff; */